/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

$light-blue: #e4ebf3;
$hover-light-blue: #c2d7ee;

html, body, div, span, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, summary,
time, mark, audio, video, section {
  margin:0;
  padding:0.25em;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
} 

@media screen and (max-width: 1280px){
  body { 
    font-size: 0.9em;
  }
  h1 {font-size: 2em}
}

@media screen and (max-width: 700px){
  body {
    font-size: 0.8em;
  }
  h1 {font-size: 1.4em}
  a {
    font-size: 1.1em;
    display: block;
    padding: 4px;
  }
}

/* TABLE STYLES */
table {
  cell-spacing: 0px;
  padding: 0px;
  border-collapse:collapse;
  border: 1px solid #e4ebf3;
}

td{
  border-right: 1px solid #e4ebf3;
}

td, th {
  padding: 0.25em 0.5em;
  vertical-align: top;
}

td.numeric {
  text-align: right;
}

th {
  text-align: left;
  background-color: #4c6696;
  padding: 1.25em 1em 1.25em 1em;
  color: #FFF;
  font-size: 1em;

  &:visited { color: #FFF; }
  &:active {}
  &:hover { 
    color: #FFF; 
    cursor: pointer;
    background-color: #2f4369;
  }

}	

th.mainHeader {
  background-color: #808080;
  color: #FFF;
  text-align: left;
}

th.table-sorted-desc {
  background-color: #374d85;
  color: #FFF;
}

th.table-sorted-asc {
  background-color: #9aa0ce;
  color: #FFF;
}


tr {
  &:visited { color: #000; }
  &:active {}
  &:hover { 
    background-color: $hover-light-blue;
    a { color: #FFF; }
  }
}

tr.alternateRow {
  background-color: $light-blue;
  &:visited { color: #000; }
  &:active {}
  &:hover { 
    background-color: $hover-light-blue; 
    a { color: #FFF; } 
  }
}

td.sortedColumn {
  background-color: #f0f0f0;
}

th.sortedColumn {
  background-color: #b0b0b0;
}

tr.alternateRow td.sortedColumn {
  background-color: #d0d0d0;
}
