$blue: #4c6696;

body {
  background-color: #FFF;
  margin: 0;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.9em;
  
  @media screen and (max-width: 700px){
    font-size: 0.8em;
  }
}

html, body, div, span, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, summary,
time, mark, audio, video, section {
  padding: 0em;
  margin: 0.1em;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
} 

p, ol, ul, td {
  line-height: 1.4em; 
}

pre {
  background-color: #eee;
  padding: 1em;
  font-size: 1em; 
}

a {
  color: #000;
  text-decoration: none;
  &:visited {
    color: #000; 
  }
  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

.action-link {
  font-size: 1.2em;

  padding-top: 0.1em;
  padding-left: 0.1em;
  padding-right: 0.1em;
  padding-bottom: 0.1em;

  i:hover {
    color: $blue;
  }

  @media screen and (max-width: 700px){
    font-size: 1.4em;
    
    padding-top: 0.6em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.6em;
  }
}