$blue: #4c6696;
$input-font-size: 1.3em;
$btn-color: #ccc;

fieldset {
}

legend {
}

label {
  font-size: 1.2em;
  font-weight: bold;
  line-height: normal;
  margin-right: 1em;
}

input {
  font-size: $input-font-size;
  padding: 0.25em 0.25em;
  border: solid 1px #aacfe4;
  margin: 0.25em;
  width: 95%;
}

textarea {
  font-size: $input-font-size;
  padding: 0.25em 0.25em;
  border:solid 1px #aacfe4;
  width: 95%;
  margin: 0.25em;
}

select {
  font-size: $input-font-size;
  padding: 0.25em 0.25em;
  border: solid 1px #aacfe4;
  margin: 1em 1em 1em 1em;
}

input[type="submit"]{
  background: $blue;
  padding: 0.7em 0.7em;
  border-radius: 4px;
  color: #FFF;
  font-size: 1.2em;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  width: auto;
  &:hover {
    background: darken($blue, 20%);
    cursor: pointer;
  }
  &:active {
    background: lighten($blue, 20%);
  }
}
