// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$margin: 16px;
$shadow-color: #cccccc;

.main-container {
  background: #fff;
  margin: $margin / 2;
  padding: $margin;
  border-color: #aacfe4;
  border-spacing: 5px;
  border-style: none;
  border-width: 1px;
  border-radius: 5px;
  display: block;
  padding: 1em;
}

.action-container {
  display: block;
  padding: 1em;
}

.action-button {
  border-top: 1px solid #ffffff;
  background: #4c6696;
  padding: 1em 1em;
  border-radius: 4px;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  &:hover {
    border-top-color: #28597a;
    background: #2f4369;
    color: #fff;
  }
  &:active {
    border-top-color: #1b435e;
    background: #1b435e;
  }
}

.action-button a {
  font-size: 1.2em;
  text-decoration: none;
  background: none;
  &:link { color: #FFF; }
  &:visited { color: #FFF; }
  &:hover { color: #FFF; background: none;}
  &:active { color: #FFF; }
}

