// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #4c6696;
$shadow-color: #cccccc;

.main-container {
  background: #fff;
  display: block;
  padding: 0.2em;
}

.action-container {
  display: block;
  padding: 1em;
}

.action-button {
  border-top: 1px solid #ffffff;
  background: $blue;
  padding: 0.7em 0.7em;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  &:hover {
    background: darken($blue, 20%);
  }
}

.action-button a {
  font-size: 1.2em;
  text-decoration: none;
  background: none;
  &:link { 
    color: #FFF; 
  }
  &:visited { 
    color: #FFF; 
  }
  &:hover { 
    color: #FFF; 
    background: none;
    cursor: pointer;
  }
  &:active { 
    color: #FFF; 
  }
}

